html {
	padding: 0;
	margin-left: calc(100vw - 100%);	/* http://codepen.io/elstgav/details/myEJNv */
    margin-right: 0;
	margin-top:0.8em;
}
body {
	height: 100%;
    margin: 0; padding: 0;
    display : table;
    width: 100%;
}
a {
 /*  text-decoration: underline; */
  color: #338CAF;
}
a:visited {
  color: #338CAF;
}
a:hover {
  text-decoration: none;
  color: white;
  background: #91BD09;
}
a:focus, a:active {
  color: #2A6496;
}

a:hover img{
	text-decoration: none;
	color: white;
  	background: transparent;
}
#container{
	width:960px;
	margin:0px auto;
	height: 100%;
	display : table;
	height:100%; 
}
header {
    text-align:center;
/* 	height:50px; */
	height:200px;
	padding:0;
	margin:0;
	/* border-bottom-style: dotted; */
	/* background-image: url("img/stones_960.jpg"); */
	/* border:1px red solid; */
}
#logo{
	width:330px;
	/* background-color:#eeeee1; */
	text-align:center;
	/* padding:5px; */
	height:100%;
	float:left; 
}
#navigation{
	/* float:left; */
	width:590px;
	height:100%;
	margin-left:320px;
	margin-top:-0px;
	/* padding-top:100px; */
	/* border:1px red solid; */
}
#main{
	/*  display: table;  */
	/* padding-top:100px; */
}
#content{
	float:right;
	width:600px;
	padding:10px;
	display : table-cell;
	height:100%; 
	margin-bottom:60px;
}
#content p img{
	float: right;
	margin:0px 0px 10px 10px;
	/* padding:5px; */
/* 	border:1px grey solid; */
		-webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.7);
box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.7);
}
aside {
    /* line-height:30px; */
   /*  background-color:#eeeeee; */
  /*  height:300px;*/
    width:330px;
    float:left;
    padding:5px;
	margin-top:-20px;
	margin-bottom:5em;
	/* display: table-cell; */
	/* height:100%; */
}
aside h2 {
	color: #a6ce39;
	font-size: 1.5em; /* equiv 26px */
    font-weight: bold;
}
aside h3 {
	/* color: #a6ce39; */
	font-size: 1.2em; /* equiv 26px */
    font-weight: bold;
	margin: 1.05em 0 0;
}

aside p {
	margin: 0.5em 0 0;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   /* height:30px; */
   width:100%;
   padding:5px 0;
   background:#E6E6E6;
   text-align:center;
   font-size: 0.7em;
}

#navigation li {
	display: inline;
	/* padding: 70px 0 0; */
	width:110px;
	float:left;
}
#navigation li a {
  padding: 5px 5px ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  font-weight: bold;
  text-decoration: none;
  color: #91BD09;
  display:block;
}
#navigation li a:hover {
    /* text-decoration: underline; */
    color: white;
	background-color: #939598;
}
#navigation li a:focus {
    text-decoration: underline;
   /*  color: white;
	background-color: #939598; */
}

#navigation a.accessed {
    background-color: #91BD09;
    color: #fff;
}


div.pub{
	margin-top:1.5em;
	position: relative;
	padding:10px;
	-webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.4);
	
}

div.pub h2{
	font-size: 1.25em; /* 1.7143em equiv 24px */
    line-height: 1.25em;
    margin:0;
	padding:0;
}

div.pub p{
	margin: .075em 0 0 0;
}
div.pub p.journal{
	font-weight:bold;
	color:#939598;
}
div.pub span.pdf{
	position: absolute;
	right: 1em;
	bottom:0em;
	box-shadow: none;
}
#content div.pub span.pdf img{
	box-shadow: none;
}

#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .10;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
  overflow: auto;
  max-height: 700px;
}

div.pub .popup_block p{
	margin:1em 0 0.5em 0;
}

img.btn_close {
	float: right;
	margin: 35px 35px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

