<p>Last update: <time datetime="{{page.date}}">{{ page.date | date_to_string }}</time> <br>
  <a href="http://validator.w3.org/check?uri=https%3A%2F%2Femanuelhuber.github.io%2Findex.html">HTML</a> &amp; 
  <a href="http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Femanuelhuber.github.io%2Findex.html">CSS</a>
</p>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
