
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      

    <h2>Emanuel Huber</h2>
			<p><a href="http://orcid.org/0000-0002-5528-0412"><img src="img/orcid_32x32.png" alt="ORCID logo"></a>&nbsp;
			<a href="http://orcid.org/0000-0002-5528-0412">http://orcid.org/0000-0002-5528-0412</a></p>
			<h3>Current position</h3>
			<p>Postdoctoral fellow at <em>University of Basel</em><br>
			Department of Environmental Sciences<br>
      Switzerland</p>
			
			<h3>About</h3>
			<p>- hydrogeology<br>
			   - geophysics (ground-penetrating radar)<br>
			   - uncertainty quantification<br>
			   - sedimentology &amp; morphology of<br>
               &nbsp;&nbsp;&nbsp;coarse, braided river systems
			</p>
			
			<h3>Websites</h3>
			<p>
				<!--<a href="http://orcid.org/0000-0002-5528-0412" rel="external">ORCID</a><br>-->
				<a href="https://github.com/emanuelhuber/" rel="external">Github</a><br>
				<a href="https://scholar.google.com/citations?user=XOtBoaMAAAAJ&amp;hl=en" rel="external">Google Scholar</a><br>
				<a href="https://www.researchgate.net/profile/Emanuel_Huber" rel="external">ResearchGate</a><br>
				<a href="https://www.linkedin.com/in/emanuelhuber" rel="external">LinkedIn</a><br/>
        <a href="https://publons.com/author/993195/emanuel-huber" rel="external">Publons</a><br/>
        <a href="https://www.mendeley.com/profiles/emanuel-huber/" rel="external">Mendeley</a><br>
        <a href="https://www.scopus.com/authid/detail.uri?authorId=55578921800" rel="external">Scopus</a><br>
				<a href="http://www.researcherid.com/rid/N-3235-2013" rel="external">ResearcherID</a><br>
				<a href="https://aug.duw.unibas.ch/mitarbeiter.php?d_mitarbeiter=29" rel="external">University of Basel</a>
			</p>
			
			<h3>Contact</h3>
			<div id="hcard-Emanuel-Huber" class="vcard">
				<span class="fn">Emanuel Huber</span><br>
				<a class="email" href="mailto:emanuel.huber@alumni.ethz.ch">emanuel.huber@alumni.ethz.ch</a>
			</div>
    <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->

